{{ define "main" }}

<div class="box">
  <div class="box-title">
    {{ .Title }}
    <span class="box-subtitle">共 {{ len .Pages }} 篇</span>
  </div>
  <div class="box-body">

    {{ with .Content }}
    <div class="list-intro">{{ . }}</div>
    {{ end }}

    <ul class="post-list">
      {{ range .Paginator.Pages }}
      {{- $st := partial "stats.html" . }}
      <li class="post-item clearfix">
        <div class="post-date"><span class="pd-md">{{ .Date.Format "01-02" }}</span><span class="pd-y">{{ .Date.Format "2006" }}</span></div>
        <div class="post-info">
          <h2 class="post-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
          <p class="post-summary">{{ with .Description }}{{ . }}{{ else }}{{ .Summary | plainify | truncate 120 }}{{ end }}</p>
          <p class="post-meta-mini">
            <span class="meta-read">共 {{ $st.Chars }} 字，阅读约 {{ $st.Minutes }} 分钟</span>
            <a class="meta-more" href="{{ .RelPermalink }}">阅读全文 &raquo;</a>
          </p>
        </div>
      </li>
      {{ end }}
    </ul>

    {{ partial "pager.html" . }}

  </div>
</div>

{{ end }}
